@model List<Bloc_CESI_ASP.Models.Service>

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sites</h1>
@if (Context.Request.Cookies.ContainsKey("userToken"))
{
   <a href="/admin/Services/Add" class="btn btn-primary mb-5">Add</a>
}


<table class="table">
   <thead>
   <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
      @foreach (var service in Model)
      {
         <tr>
            <td>@service.Id</td>
            <td>@service.Name</td>
            @if (Context.Request.Cookies.ContainsKey("userToken"))
            {
               <td><a href="View/@service.Id">View</a></td>
            }
         </tr>
      }
   </tbody>

</table>
