@model Bloc_CESI_ASP.Models.AddUserViewModel

@{

}

<h1>Add user</h1>

<form method="post" action="Register" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div> 
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Confirm password</label>
        <input type="password" class="form-control" asp-for="ConfirmedPassword">
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-info text-white" href="/register">Register</a>
    </div>
</form>