@model Bloc_CESI_ASP.Models.AddSiteViewModel

@{

}

<h1>Add Site</h1>

<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">City</label>
        <input type="text" class="form-control" asp-for="City">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>