@model List<Bloc_CESI_ASP.Models.Site>

<h1>Sites</h1>
@if (Context.Request.Cookies.ContainsKey("userToken"))
{
   <a href="/admin/Sites/Add" class="btn btn-primary mb-5">Add</a>
}

<table class="table">
   <thead>
   <tr>
      <th>Id</th>
      <th>City</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
      @foreach (var site in Model)
      {
         <tr>
            <td>@site.Id</td>
            <td>@site.City</td>
            @if (Context.Request.Cookies.ContainsKey("userToken"))
            {
               <td><a href="/admin/Sites/View/@site.Id">View</a></td>
            }
         </tr>
      }
   </tbody>

</table>
