@model List<Bloc_CESI_ASP.Models.Site>

<h1>Sites</h1>

<table class="table">
   <thead>
   <tr>
      <th>Id</th>
      <th>City</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
      @foreach (var site in Model)
      {
         <tr>
            <td>@site.Id</td>
            <td>@site.City</td>
            <td><a href="Sites/View/@site.Id">View</a></td>
         </tr>
      }
   </tbody>

</table>
